#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Two-line-item_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Icon_phone_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Two-line-item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Icon_phone_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Icon-hagouts_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Icons_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Label_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Label_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Label_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=74) ;
  filter: alpha(opacity=74) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e #s-Label_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a1c99e62-0c4c-47f8-92f0-86289a43aa0e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}