#s-12f95033-51c0-4a0b-bb64-c80c715ca252 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: Arial,Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background .valign {
  vertical-align: middle;
  text-align: left;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background span#rtr-s-Background_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Statusbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 20px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 8px;
  width: 352px;
  height: 20px;
  background-color: #000000;
  background-image: none;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Light,Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 0px;
  left: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Panel_4 {
  width: 360px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 {
  padding-right: 5px;
  width: 41px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: Roboto-Light,Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-tryagain-button {
  position: absolute;
  top: 519px;
  left: 55px;
  width: 250px;
  height: 74px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 246px;
  height: 42px;
  background-color: #FD9927;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 span#rtr-s-Button_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 span#rtr-s-Button_17_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 {
  position: absolute;
  top: 28px;
  left: 0px;
  width: 250px;
  height: 46px;
  background-color: #FFFFFF;
  background-image: none;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 15.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 span#rtr-s-Button_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-message {
  position: absolute;
  top: 255px;
  left: 14px;
  width: 332px;
  height: 75px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 332px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Thin,Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text .valign {
  vertical-align: middle;
  text-align: center;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 12.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text span#rtr-s-text_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Thin,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 318px;
  height: 30px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title .valign {
  vertical-align: middle;
  text-align: center;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title span#rtr-s-title_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Image_1 {
  position: absolute;
  top: 79px;
  left: 84px;
  width: 192px;
  height: 171px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}